@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #020102;
  --background-start: #ffd650;
  --background-end: #F5c000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

.poppins-font {
  font-family: var(--font-poppins);
}

a{
  text-decoration: none;
  color: inherit;
}
