@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #020102;
  --background-start: #ffd650;
  --background-end: #F5c000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

.poppins-font {
  font-family: var(--font-poppins);
}


a{
  text-decoration: none;
  color: inherit;
}

nav{
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.nav__menu-bar{
  display: flex;
  z-index: inherit;
}

.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 2rem;
  width: 50%;
  row-gap: 24px;
  right: -100%;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
}

.nav__menu-list.active{
  right: 0;
}

.nav__link{
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 968px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    transition: all 0.2s;
  }

  .nav__link:hover:before{
   width: 100%;
  }
}
